<!DOCTYPE html>
<html>
    <head>
        <title>Blog de Fisica</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog de Fisica</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">1ra ley</a></h2>
            <p>sobre la incercia.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">2da ley</a></h2>
            <p>F=dp/dt</p>
        </article>
    </body>
</html>
